/* ==UserStyle==
@name        Twitch – Channel Colouring
@namespace   Trubbel
@version     0.0.62
@homepageURL https://github.com/Trubbel/Twitch-Channel-Colouring
@updateURL   https://github.com/Trubbel/Twitch-Channel-Colouring/blob/main/twitch-colour.user.css
@author      Trubbel
==/UserStyle== */

@-moz-document domain("www.twitch.tv") {

/* needs FFZ to work

var(--ffz-channel-color)
var(--ffz-channel-color-20)
var(--ffz-channel-color-30)
var(--ffz-color-accent)
*/

/* Twitch logo, top left */
.top-nav__menu .koVOFt {
  fill: var(--ffz-channel-color);
}

/* "LIVE"-badge in the subscriptions-page */
.subscription-card__channel-avatar .hwlNix {
  background-color: var(--color-accent) !important;
}
/* fixes the background-color behind the "LIVE"-badge */
.subscription-card .live-indicator-container {
  background: var(--color-background-base);
}

/* ===== following page */
/* changes the "LIVE"-badge colour on the preview cards, to be the same as their channel accent colour */
[data-a-target="preview-card-image-link"] .cbXzwD {
  background-color: var(--color-accent);
}
/* ===== /following page */


/* ===== streamer page */
/* Current Streamer -- "Cookie Preferences" > "We value your privacy."-background-color */
.consent-banner {
  background-color: var(--ffz-channel-color-30) !important;
}

/* Current Streamer -- Sticky Footer (when not signed in) "Sign up to experience the best of X Chat, follow or subscribe – Twitch is your oyster."-background-color */
[id="twilight-sticky-footer-root"] .epftCf {
  background-color: var(--ffz-channel-color-30) !important;
}

/* Current Streamer -- Selected Elements Colouring */
::selection {
  background-color: var(--ffz-channel-color);
}

/* Current Streamer -- Navigation Links -- on hover */
.tw-root--theme-dark .navigation-link.active,
.tw-root--theme-dark .navigation-link:hover,
.dark-theme .navigation-link.active,
.dark-theme .navigation-link:hover {
  color: var(--ffz-channel-color) !important;
}

/* Current Streamer -- Search Bar -- Drop Down Menu -- Verified Badge-color */
.search-tray .bESOCc [d="M10 2l6 2 2 6-2 6-6 2-6-2-2-6 2-6 6-2zM8.889 13.636l5.43-5.429-1.415-1.414-4.015 4.015-2.015-2.015-1.414 1.414 3.429 3.43z"] {
  fill: var(--ffz-channel-color);
}
/* Current Streamer -- Search Bar -- Drop Down Menu -- "LIVE"-badge-color */
.search-tray .hwlNix {
  background-color: var(--ffz-channel-color);
}
/* Current Streamer -- Search Bar -- Drop Down Menu -- Search Item Color */
.tw-root--theme-dark .search-item__history {
  color: var(--ffz-channel-color) !important;
}

/* Current Streamer -- Notifications -- Prime Loot, Notifications, Whispers -- Background-color */
.jWbNQM {
  background-color: var(--ffz-channel-color);
}
/* Current Streamer -- Notifications -- Whispers -- Whispers Popup -- on Hover Items */
.tw-root--theme-dark .whispers-list-item:hover {
  background-color: var(--ffz-channel-color-30) !important;
}

/* Current Streamer -- "Followed Channels" -- on Hover */
.tw-root--theme-dark .side-nav-card__link:hover {
  background-color: var(--ffz-channel-color-30) !important;
}
/* Current Streamer -- "Followed Channels" -- on Hover -- "LIVE"-badge - {if (vx_left_pop) experiment is enabled} */
.online-side-nav-channel-tooltip__body--image .cbXzwD {
  background-color: var(--ffz-channel-color);
}
/* Current Streamer -- "Followed Channels" -- Hover on Current Game Played - {if (vx_left_nav_category_click_thru) experiment is enabled} */
.tw-root--theme-dark .side-nav-card__link:hover .tw-link:hover {
  color: var(--ffz-channel-color);
}

/* Current Streamer -- (on avatar hover) "The profile image can take you to the channel home" -- "NEW"-badge */
.home-affordance .eqaYMR {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}


/* Current Streamer -- HTML Player -- "LIVE"-badge */
.video-player .cbXzwD {
  background-color: var(--ffz-channel-color);
}
/* Current Streamer -- HTML Player -- "Is video buffering? Use the Low Latency toggle under the Advanced menu in Settings to disable low latency mode"-popup border-color */
.tw-root--theme-dark .low-latency-notification {
  border-top: 3px solid var(--ffz-channel-color);
}
/* Current Streamer -- HTML Player -- Current Quality-popup */
.video-player .gMetEn {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color-30);
}


/* "LIVE NOW"-badge on Home, About, Schedule, Videos-tabs */
/* "X is streaming Y" */
.channel-status-info--live {
  background: var(--ffz-channel-color);
}
/* Same as above but streamer is offline -- hover on social links */
.home-offline-hero .xQnrn:hover {
  color: var(--ffz-channel-color);
}

/* Current Streamer -- Home - About - Schedule - Videos - Chat-active-color (ACTIVE_TAB_INDICATOR) */
.home-header-sticky .iyBJMB {
  color: var(--ffz-channel-color) !important;
}
/* Current Streamer -- Home - About - Schedule - Videos - Chat-hover-color (ACTIVE_TAB_INDICATOR) */
.home-header-sticky .dCwXIp:hover {
  color: var(--ffz-channel-color);
}


/* (below the "LIVE NOW"-badge) "Watch now with X viewers" */
.home-carousel-info--live.home-carousel-info .jxwNWA {
  color: var(--ffz-channel-color);
}
/* "LIVE"-badge below user avatar */
.user-avatar-card__live .cbXzwD {
  background-color: var(--ffz-channel-color);
}
/* verified badge next to the user avatar */
.channel-info-content .bESOCc [d="M12.5 3.5L8 2L3.5 3.5L2 8L3.5 12.5L8 14L12.5 12.5L14 8L12.5 3.5ZM7.00008 11L11.5 6.5L10 5L7.00008 8L5.5 6.5L4 8L7.00008 11Z"] {
  fill: var(--ffz-channel-color);
}
/* verified badge when on, Home, About, Schedule, Videos-tabs */
.kcrFWs [d="M10 2l6 2 2 6-2 6-6 2-6-2-2-6 2-6 6-2zM8.889 13.636l5.43-5.429-1.415-1.414-4.015 4.015-2.015-2.015-1.414 1.414 3.429 3.43z"] {
  fill: var(--ffz-channel-color);
}


/* Current Streamer -- "Schedule" -- Stream Schedule Times */
.stream-schedule__header .kMWmAK {
  background-color: var(--ffz-channel-color-30) !important;
  border-color: var(--ffz-channel-color) !important;
}
/* Current Streamer -- "Schedule" -- Stream Schedule Current Day */
.stream-schedule-week .dBdrZB {
  background-color: var(--ffz-channel-color-30) !important;
}
/* Current Streamer -- "Schedule" -- Stream Schedule Current Day */
[data-a-target="stream-schedule-day"].ITYph {
  background-color: var(--ffz-channel-color-20) !important;
}
/* Current Streamer -- "Schedule" -- Stream Schedule Segment */
.stream-schedule-day .stream-schedule-segment--element {
  background-color: var(--ffz-channel-color-20) !important;
}
/* Current Streamer -- "Schedule" -- Stream Schedule Segment -- "Live Now" "LIVE"-badge */
.stream-schedule-segment--element .hwlNix {
  background-color: var(--ffz-channel-color);
}
/* Current Streamer -- "Schedule" -- Stream Schedule Segment -- "Live Now" -- Popout "LIVE"-badge */
[data-test-selector="segment-popover-content"] .hwlNix {
  background-color: var(--ffz-channel-color);
}
/* Current Streamer -- "Schedule" -- Stream Schedule Segment -- Thumbnail -- Shadow left of Thumbnail */
.stream-schedule-segment--fade::after {
  background: linear-gradient(270deg,var(--ffz-channel-color-20) 10%,transparent 30%);
}


/* Current Streamer -- "Videos" -- "Filter by"-dropdown & "Top"-dropdown, current selected */
[data-test-selector="balloon-inside-click-detector"] .bbvncg {
  background-color: var(--ffz-channel-color-30);
}
/* Current Streamer -- "Videos" -- "Top"-dropdown, time filter options */
[data-test-selector="balloon-inside-click-detector"] .ciyqCe {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}
/* Current Streamer -- "Videos" -- Recent broadcasts -- Chapters button */
[data-test-selector="toggle-balloon-wrapper__mouse-enter-detector"] .iodoaw {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}
/* Current Streamer -- "Videos" - VOD Progress Bar-color */
[data-a-target="preview-card-image-link"] [data-a-target="tw-progress-bar-animation"] {
  background-color: var(--ffz-channel-color);
}

/* Current Streamer -- About Section -- Verified Badge */
.about-section__panel .bESOCc [d="M10 2l6 2 2 6-2 6-6 2-6-2-2-6 2-6 6-2zM8.889 13.636l5.43-5.429-1.415-1.414-4.015 4.015-2.015-2.015-1.414 1.414 3.429 3.43z"] {
  fill: var(--ffz-channel-color);
}

/* Current Streamer -- About Section -- Team & About links on hover */
.about-section .AKPzc:hover {
  color: var(--ffz-channel-color);
}
/* Current Streamer -- About Section -- About links hover - Arrow Icon Color */
.social-media-link__container:hover + .social-media-link__external-link-icon {
  color: var(--ffz-channel-color);
}

/* Current Streamer -- Channel Viewer Count */
.hRBkFL {
  fill: var(--ffz-channel-color);
}
.gUIXeB {
  color: var(--ffz-channel-color) !important;
}

/* Current Streamer -- Channel Tags - On Hover */
.hrkHJN:not(:disabled):hover {
  background-color: var(--ffz-channel-color-30);
}

/* "NEW"-badge -> "Add your bio and social links. Help your viewers get to know you better" */
.about-section__panel .kyyXqX {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}

/* Your own stream page -- Home, About, Schedule, Videos-tabs -- "NEW"-badge - "Customize your channel Update your stream schedule, add your social links, and manage your channel preferences" */
.home-offline-hero__upsell .kyyXqX {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}


/* Subscribe, Resubscribe & Gift a Sub-button -- opened */
/* Subscribe, Resubscribe & Gift a Sub-button -- opened -- "X's Sub Goal" */
.support-panel .goal_widget__progress_bar {
  background-color: var(--ffz-channel-color);
}

/* Subscribe, Resubscribe & Gift a Sub-button -- opened -- Promo-badge (SUBtember) */
.support-panel .eqaYMR {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}

/* Subscribe-button -- opened */
/* Subscribe-button -- opened -- verified badge */
.support-panel .hcjcOH [d="M10 2l6 2 2 6-2 6-6 2-6-2-2-6 2-6 6-2zM8.889 13.636l5.43-5.429-1.415-1.414-4.015 4.015-2.015-2.015-1.414 1.414 3.429 3.43z"] {
  fill: var(--ffz-channel-color);
}
/* "SAVE"-badge left of "Save by subscribing for longer" */
.support-panel .fToerh {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}
/* "Save by subscribing for longer"-expanded, "Renew every"-month-border-color */
.support-panel .ScSelectableInput-sc-19xo10b-0:checked + .cKjUjD.cKjUjD {
  border: var(--border-width-input) solid var(--ffz-channel-color);
}


/* Gift a Sub-button -- opened */
/* Gift a Sub-button -- opened -- "Gift a specific viewer"-text color */
.support-panel .jwcWqj {
  color: var(--ffz-channel-color);
}

/* Gift a Sub-button -- opened -- "Theme Your Gift"-border-color */
.support-panel .ScSelectableInput-sc-19xo10b-0:checked + .KdjbV.KdjbV {
  border: var(--border-width-input) solid var(--ffz-channel-color);
}

/* Gift a Sub-button -- opened -- "Gift a specific viewer" -- "Select months to gift"-border-color */
.support-panel .ScSelectableInput-sc-19xo10b-0:checked + .kkPTnF.kkPTnF {
  border: var(--border-width-input) solid var(--ffz-channel-color);
}


/* Gift a Sub-button -- "Instantly unlock your first gifter badge by gifting at least 1 Sub!"-progress bar */
/* Gift a Sub-button -- "You've given X gift subs to Y's channel. Gift Z more to unlock your next badge!"-progress bar */
/* Gift a Sub-button -- "Your Subscription" -- "Next Sub Anniversary on X" "Sub renews on Y"-progress bar */
.support-panel [data-a-target="tw-progress-bar-animation"] {
  background: var(--ffz-channel-color);
}

/* Continue Sub - X Days Remaining -- opened -- "Your Subscription" -- "Tier Y Gifted Subscription"-star-icon */
.support-panel [data-test-selector="CurrentSubscriptionIcon"] .kEjBVe {
  fill: var(--ffz-channel-color);
}



/* buttons on hover, hover+active, active */
.kjAHnz:hover {
  background-color: var(--ffz-channel-color-30);
}
.kjAHnz:hover:active {
  background-color: var(--ffz-channel-color-30);
}
.kjAHnz:active {
  background-color: var(--ffz-channel-color-30);
}

/* current active language, background-color */
.user-menu-language-list .eCuOGt {
  background-color: var(--ffz-channel-color-30);
}

/* pinned new commands in /commands list */
[data-test-selector="autocomplete-matches-container"] .epIGZ {
  background-color: var(--ffz-channel-color-30) !important;
}
/* same as above, but the "NEW"-badge */
[data-test-selector="autocomplete-matches-container"] .eqaYMR {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color-30);
}



/* hover on checkbox */
/* off, on hover border-color */
.ObwAb:hover {
  border-color: var(--ffz-channel-color);
}
/* toggled on border-color */
.ScToggleInput-sc-796zbf-1:checked + .ObwAb.ObwAb {
  border-color: var(--ffz-channel-color);
}
/* toggled on, checkbox button */
.ScToggleInput-sc-796zbf-1:checked + .ObwAb.ObwAb::after {
  background-color: var(--ffz-channel-color);
}
/* toggled on, ✔️ icon */
.ScToggleInput-sc-796zbf-1:checked + .ObwAb.ObwAb::before {
  border-color: var(--ffz-channel-color);
}

/* toggled radio button */
.ScCheckBoxInputBase-sc-1wz0osy-1:checked + .kEnAMA.kEnAMA::before {
  border-color: var(--ffz-channel-color);
}
.ScCheckBoxInputBase-sc-1wz0osy-1:checked + .kEnAMA.kEnAMA::after {
  background-color: var(--ffz-channel-color);
}


/* input, textareas */
.fIywXv:focus, .fIywXv:focus:hover {
  border-color: var(--ffz-channel-color);
}
.fIywXv:focus::placeholder, .fIywXv:focus:hover::placeholder {
  color: var(--ffz-channel-color) !important;
  opacity: 1 !important;
}



/* Request Unban-popup window */
/* "Enter a Reason for Your Unban" */
.cubAjy:focus, .cubAjy:focus:hover {
  border-color: var(--ffz-channel-color);
}
.cubAjy:focus::placeholder, .cubAjy:focus:hover::placeholder {
  color: var(--ffz-channel-color) !important;
  opacity: 1 !important;
}
/* hint "i"-icon below the textarea */
.unban-request-form__hint-icon {
  color: var(--ffz-channel-color);
}
/* ===== /streamer page */


/* ===== streamer chat */

/* Current Streamer -- "Stream Chat" -- "Resizable Chat" - On Hover - {if (resizable_chat_column) experiment is enabled} */
[data-test-selector="resize-handle-container"] .fmDPDU {
  background-color: var(--ffz-channel-color) !important;
}
/* Current Streamer -- "Stream Chat" -- "Resizable Chat" - On Active - {if (resizable_chat_column) experiment is enabled} */
.right-column__resize-handle-container .fzzVQu {
  background-color: var(--ffz-channel-color) !important;
}

/* Current Streamer -- "Stream Chat" -- "Gift a Sub now to be #1!" & "Cheer now to be #1!"-text color */
[data-test-selector="empty-leaderboard-item-test-selector"] {
  color: var(--ffz-channel-color) !important;
}

/* Current Streamer -- "Stream Chat" -- "Live Chat Message Separator Line" */
.live-message-separator-line__hr {
  border-top: var(--border-width-default) solid var(--ffz-channel-color) !important;
}
.eVtLxN {
  color: var(--ffz-channel-color) !important;
}



/* Current Streamer -- "Stream Chat" -- Subscribe Message -- "X subscribed at Tier Y. They've subscribed for Z months!"-background-color */
/* & "X subscribed with Prime Gaming. */
.ffz--subscribe-line {
  background-color: var(--ffz-channel-color-30);
}
/* Current Streamer -- "Stream Chat" -- Subscribe Message -- Star Icon-color */
.ffz--subscribe-line .ffz-i-star::before {
 color: var(--ffz-channel-color);
}
/* Current Streamer -- "Stream Chat" -- Subscribe Message -- Twitch Prime Icon-color */
.ffz--subscribe-line .ffz-i-crown::before {
 color: var(--ffz-channel-color);
}


/* Current Streamer -- "Stream Chat" -- "Only visible to you" -- "It's your X month sub anniversary!"-star-icon */
.chat-room .jhLCRX {
  fill: var(--ffz-channel-color);
}



/* Current Streamer -- "Stream Chat" -- "Usercard" -- Background-color to Active Tabs */
.tw-root--theme-dark .viewer-card-mod-drawer-tab--active {
  background-color: var(--ffz-channel-color-30);
  box-shadow: 0 calc(var(--border-width-default)*-3) 0 var(--ffz-channel-color) inset;
}

/* Current Streamer -- "Stream Chat" -- "Usercard" -- "Messages" -- Automod Message */
.automod-message {
  color: var(--ffz-channel-color) !important;
  background-color: var(--ffz-channel-color-30);
}
/* Current Streamer -- "Stream Chat" -- "Usercard" -- "Messages" -- Automod Message Flagged/Rejected */
.flagged-message--rejected {
  border-left: 3px solid var(--ffz-channel-color);
  background-color: var(--ffz-channel-color-30);
}

/* Current Streamer -- "Stream Chat" -- "Usercard" -- "⚠ Unable to fetch account"-text-color */
.viewer-card__empty .viewer-card__account-status-banner {
  color: var(--ffz-channel-color);
}

/* Current Streamer -- "Stream Chat" -- "Usercard" -- "Banned/Timed out"-badge */
[data-test-selector="viewer-card-mod-drawer"] .fuPFM {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}


/* Current Streamer -- "Stream Chat" -- "Animated Emotes can be disabled in Settings" */
[data-test-selector="chat-private-callout-queue__callout-container"] .gSHKrs {
  background-color: var(--ffz-channel-color-30) !important;
}


/* Current Streamer -- "Stream Chat" -- "You scored a Drop! Claim now or go to Inventory" -- Background-color */
/* Current Streamer -- "Stream Chat" -- "Unlocked Channel Point Rewards" -- Background-color */
/* Current Streamer -- "Stream Chat" -- "Follow X to unlock free emotes to use in chat!" */
.chat-input .fVJaKG {
  background-color: var(--ffz-channel-color-30) !important;
}
/* Current Streamer -- "Stream Chat" -- "You scored a Drop! Claim now or go to Inventory" -- Progress bar */
/* Current Streamer -- "Stream Chat" -- "Unlocked Channel Point Rewards" -- Progress bar */
.chat-input [data-a-target="tw-progress-bar-animation"] {
  background: var(--ffz-channel-color);
}


/* Current Streamer -- "Stream Chat" -- "It's your X month sub anniversary!"-star-icon */
.chat-input .fVJaKG .cCsRcI {
  fill: var(--ffz-channel-color);
}
/* Current Streamer -- "Stream Chat" -- "It's your X month sub anniversary!"-star-background-color */
.tw-root--theme-dark .chat-private-callout__icon--overlay {
  background: transparent;
}
/* Current Streamer -- "Stream Chat" -- Pinned Above Chat -- "It's your X month sub anniversary!"-background-border-color */
.tw-root--theme-dark .pinned-callout__icon {
  background: transparent;
  border-color: var(--ffz-channel-color) !important;
}
/* Current Streamer -- "Stream Chat" -- Pinned Above Chat-background-color */
.pinned-callout.goHOHS {
  background-color: var(--ffz-channel-color-20) !important;
}

/* Current Streamer -- "Stream Chat" -- "It's your X month sub anniversary!" -- Pinned in Chat -- Background-color */
.stream-chat .dCIGFL .hXdwOk {
  background-color: var(--ffz-channel-color-20);
}
/* Current Streamer -- "Stream Chat" -- "It's your X month sub anniversary!" -- Pinned in Chat -- Star-background-border-color */
.stream-chat .dCIGFL .hXdwOk .inline-private-callout-line__icon {
  background-color: transparent !important;
  border-color: var(--ffz-channel-color) !important;
}


/* Current Streamer -- "Stream Chat" -- Chant Popup */
.chat-input .ibEnMt {
  background-color: var(--ffz-channel-color-30) !important;
}

/* Current Streamer -- "Stream Chat" -- "Channel Management"-buttons, hover */
.cAfLpy {
  background-color: var(--ffz-channel-color-30);
}
.cAfLpy:hover {
  background-color: var(--ffz-channel-color-30);
}
.cAfLpy:hover:active {
  background-color: var(--ffz-channel-color-30);
}
.cAfLpy:active {
  background-color: var(--ffz-channel-color-30);
}

/* Current Streamer -- "Stream Chat" -- Chat Tray Opened - Thread Opened - Replies-border-color */
.chat-input-tray__open .chat-replies-list__container .chat-replies-list {
  border-left: 4px solid var(--ffz-channel-color);
}


/* Current Streamer -- "Stream Chat" -- "Use [Alt] [⬆️] to select recent messages sent by this user." -- "Tip"-badge-color */
[data-test-selector="chat-private-callout-queue__callout-container"] .eqaYMR {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}


/* Current Streamer -- "Stream Chat" -- "Cheering Supports Your Streamer!" -- "Cheering Anonymously"-Ghost Icon */
.t-bits-card__contents--anonymous .kcrFWs {
  fill: var(--ffz-channel-color);
}
/* Current Streamer -- "Stream Chat" -- "Cheering Supports Your Streamer!" -- hover on items */
.tw-root--theme-dark .cheermote-prefix-selector__item-button:focus:not([disabled]), .tw-root--theme-dark .cheermote-prefix-selector__item-button:hover:not([disabled]) {
  background-color: var(--ffz-channel-color-30);
  box-shadow: none;
}
.tw-root--theme-dark .cheermote-tier-selector__item-button:focus:not([disabled]), .tw-root--theme-dark .cheermote-tier-selector__item-button:hover:not([disabled]) {
  background-color: var(--ffz-channel-color-30);
  box-shadow: none;
}
/* Current Streamer -- "Stream Chat" -- "Cheering Supports Your Streamer!"-bottom-background-color */
.tw-root--theme-dark .t-bits-card__footer {
  background-color: var(--ffz-channel-color-30);
}


/* Current Streamer -- "Stream Chat" -- "Twitch Native Emote Menu" -- Current Active Emote Tab */
.emote-picker-tab-item-wrapper__active {
  border-left: 3px solid var(--ffz-channel-color);
}
/* Current Streamer -- "Stream Chat" -- "Twitch Native Emote Menu" -- "Frequently Used"-emote tab */
.emote-picker-tab-item-wrapper__active .bESOCc {
  fill: var(--ffz-channel-color);
}
/* Current Streamer -- "Stream Chat" -- "Twitch Native Emote Menu" -- hover on emotes, background-color */
.tw-root--theme-dark .emote-button__link:hover {
  background-color: var(--ffz-channel-color-30);
}
/* Current Streamer -- "Stream Chat" -- "Twitch Native Emote Menu" -- active streamer-emote tab, balloon popup (for "Report X's Emote)" */
.tw-root--theme-dark .emote-grid-section__balloon-title {
  background-color: var(--ffz-channel-color-30);
}
/* Current Streamer -- "Stream Chat" -- "Twitch Native Emote Menu" -- Emotes with Options */
.tw-root--theme-dark .emote-button__options {
  border-color: transparent transparent var(--ffz-channel-color);
}


/* Current Streamer -- "Stream Chat" -- "Channel Points" */
.community-points-summary .bESOCc {
  color: var(--ffz-channel-color);
}
/* Current Streamer -- "Stream Chat" -- "Channel Points" -- "Rewards & Challenges" -- Channel Points Icon */
.channel-points-icon .bESOCc {
  color: var(--ffz-channel-color);
}
/* Current Streamer -- "Stream Chat" -- "Channel Points" -- "Rewards & Challenges" -- Channel Points "NEW"-badge */
.reward-list-item .eqaYMR {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}
/* Current Streamer -- "Stream Chat" -- "Channel Points" -- "Rewards & Challenges" -- "Community Goals Item -- 100% Raised" */
.community-goals-list-item__fill {
  background-color: var(--ffz-channel-color);
}


/* Current Streamer -- "Stream Chat" -- "Chat Settings" -- "Chat Identity" -- Badge-border-color */
.edit-appearance__badge-chooser--selected--thick {
  border-color: var(--ffz-channel-color);
}
.edit-appearance__static-badge {
  border: 2px solid var(--ffz-channel-color);
}

/* Current Streamer -- "Stream Chat" -- "Chat Settings" -- "Chat Appearance" -- Font Size */
/* setting toggled */
.notched-range--handle {
  border: .5rem solid var(--ffz-channel-color);
}
/* setting hover */
.notched-range--handle:hover, .notched-range--handle[data-focus-visible-added], .notched-range--handle__active {
  border-color: var(--ffz-channel-color);
  box-shadow: 0 0 5px var(--ffz-channel-color);
}

/* Current Streamer -- "Stream Chat" -- "Chat Settings" -- New Request Indicator */
.chat-settings-toggle__new-requests-indicator {
  background-color: var(--ffz-channel-color);
}
/* Current Streamer -- "Stream Chat" -- "Chat Settings" -- "Tasks" -- "Review Unban Requests" -- "X NEW"-badge */
.chat-settings__content .hqPKsr {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}

/* Current Streamer -- "Stream Chat" -- "Chat Settings" -- "Switch to Non-Mod Settings"-text-color */
[data-test-selector="moderation-mode-toggle-selector"] .jwcWqj {
  color: var(--ffz-channel-color);
}


/* ===== /streamer chat */





/* ===== mod view page */
/* Current Streamer -- Mod View -- "LIVE"-badge Above Stream */
.live-indicator .cbXzwD {
  background-color: var(--ffz-channel-color);
}

/* mod view, hosting header above player */
.video-player-hosting-ui__container [data-a-target="hosting-ui-header"] {
  background-color: var(--ffz-channel-color-30) !important;
}

/* Current Streamer -- Mod View -- Viewer Count */
.modview-player-widget__viewcount .koqatG {
  color: var(--ffz-channel-color) !important;
}


/* widgets */
/* Current Streamer -- Mod View -- widgets -- "Session"-viewer count text-color */
[data-test-selector="session-widget-viewer-count"] .hJuVPn {
  color: var(--ffz-channel-color) !important;
}

/* Current Streamer -- Mod View -- widgets -- "Active Mods"-text-color */
[data-test-selector="active-mods"] .fpkNHz {
  color: var(--ffz-channel-color);
}

/* Current Streamer -- Mod View -- widgets -- whispers (amount of whispers icon) */
[class="modview-dock-widget__panel"] .cPWHLJ {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}

/* Current Streamer -- Mod View -- widgets -- "Reward Requests Queue" -- "All Requests"-background-color */
.reward-queue-view .BXTpY {
  background-color: var(--ffz-channel-color-30);
}
.BXTpY:hover:active {
  background-color: var(--ffz-channel-color-30);
}

/* Current Streamer -- Mod View -- widgets -- "Other Channels You Follow (X Live)" */
[class="modview-dock-widget__panel"] .hiLOXJ {
  color: var(--color-text-alt);
  background-color: var(--ffz-channel-color);
}

/* Current Streamer -- Mod View -- widgets -- "What's New & Feedback"-indicator */
.tw-root--theme-dark .whats-new-button__new-entries-indicator {
  background-color: var(--ffz-channel-color);
}

/* Current Streamer -- Mod View -- widgets -- "What's New & Feedback" -- "Watch Tutorial"-highlight component */
.tw-root--theme-dark .component-highlighter {
  border-color: var(--ffz-channel-color) !important;
}

/* Current Streamer -- Mod View -- widgets -- "Activity Feed" -- New Items Highlight */
.activity-base-list-item__new--dark {
  background-color: var(--ffz-channel-color-30);
}

/* Current Streamer -- Mod View -- widgets -- "Unban Requests" -- "Unban Request Cooldown Icon"-color */
.unban-requests-list-sidebar-footer__cooldown-icon {
  color: var(--ffz-channel-color);
}
/* /widgets */



/* widget resizing */
.mosaic-split:active, .mosaic-split:hover {
  background-color: var(--ffz-channel-color);
}
.mod-view-context-bar__resizer--resizing, .mod-view-context-bar__resizer:hover {
  background-color: var(--ffz-channel-color);
}

/* Current Streamer -- Mod View -- "Users In Chat" -- "Refresh User List"-icon color */
[data-test-selector="chat-viewers__disabled-refresh"] .kwfgkq {
  fill: var(--ffz-channel-color);
}




/* ===== /mod view page */




/* ===== addons/extensions */
/* ffz -- new settings notification badge */
.ffz-top-nav .tw-pill {
  background-color: var(--ffz-channel-color);
}
/* ffz -- control center -- current active profile, border-color */
.ffz--profile-row.current {
  border-left-color: var(--ffz-channel-color);
}
/* ffz -- control center -- on hover profile */
.ffz--profile-row:focus, .ffz--profile-row:hover {
  background-color: var(--ffz-channel-color-30);
}

/* ffz -- control center -- "Mark All Seen"-button */
.ffz-button--hollow:hover, .ffz-button--hollow:focus, .ffz-button--hollow:active {
  background: var(--ffz-channel-color) !important;
}

/* ffz -- control center -- "Reset to Default"-button-color */
.tw-button--text {
  color: var(--ffz-channel-color);
}

/* ffz -- control center -- checkboxes */
.ffz-checkbox__input:checked + .ffz-checkbox__label::before, .ffz-checkbox__input:indeterminate + .ffz-checkbox__label::before {
  border: var(--border-width-input) solid var(--ffz-channel-color);
}
.ffz-checkbox__input:checked + .ffz-checkbox__label::after, .ffz-checkbox__input:indeterminate + .ffz-checkbox__label::after {
 background-color: var(--ffz-channel-color);
}
/* same as above, on hover */
.ffz-checkbox__input:hover:checked + .ffz-checkbox__label::before, .ffz-checkbox__input:hover:indeterminate + .ffz-checkbox__label::before {
  border: var(--border-width-input) solid var(--ffz-channel-color);
}

/* ffz -- control center -- input textarea */
.ffz-input:focus, .ffz-input:focus:hover, .ffz-select:focus, .ffz-select:focus:hover, .ffz-textarea:focus, .ffz-textarea:focus:hover {
  border: var(--border-width-input) solid var(--ffz-channel-color);
}
.ffz-input:focus::placeholder, .ffz-input:focus:hover::placeholder, .ffz-select:focus::placeholder, .ffz-select:focus:hover::placeholder, .ffz-textarea:focus::placeholder, .ffz-textarea:focus:hover::placeholder {
  color: var(--ffz-channel-color) !important;
  opacity: 1 !important;
}

/* ffz -- control center -- "NEW"-feature-badge */
.ffz--menu-page .ffz--widget .tw-pill {
  background-color: var(--ffz-channel-color);
  color: var(--color-text-alt);
}

/* ffz -- control center -- active item */
.ffz--menu-tree .active > div, .ffz--menu-tree .active > div:hover, .tw-root--theme-dark .ffz--menu-tree .active > div:hover {
  background-color: var(--ffz-channel-color-30);
}
/* ffz -- control center -- hover on item */
.ffz--menu-tree div:hover {
  background-color: var(--ffz-channel-color-30);
}

/* ffz -- control center -- for stuff like "This profile is not active.", "It's dangerous to go at all." etc. */
.ffz--menu-page .tw-c-background-accent {
  background-color: var(--ffz-channel-color-30) !important;
}

/* ffz -- control center -- enabled experiments -- "resizable_chat_column"-color */
.right-column__resize-handle-container .cvVUhu {
  background-color: var(--ffz-channel-color) !important;
}
.right-column__resize-handle-container .eXEvmo {
  background-color: var(--ffz-channel-color) !important;
}

/* ffz -- control center -- "Data Management » Backup and Restore" -- "X items have been restored. Please refresh this page." */
.ffz--backup-restore .tw-c-background-accent-alt-2 {
  background-color: var(--ffz-channel-color-30) !important;
}

/* fzz -- Stream Chat -- Mentions - On hover */
.ffz--reply-mention:hover, .ffz--reply-mention:focus {
  background-color: var(--ffz-channel-color-30);
}


/* current channel viewer count */
/* with "Alternative Viewer Count" enabled within ffz */
/* Channel > Metadata > Alternative Viewer Count */
.ffz-stat[data-key="viewers"] figure::before {
  color: var(--ffz-channel-color) !important;
}
[data-color="var(--color-text-live)"] .ffz-stat-text {
  color: var(--ffz-channel-color) !important;
}


/* ffz emote menu */
/* Chat > Emote Menu > "Use the FrankerFaceZ Emote Menu." */
/* current active emote tab */
.ffz-interactable--default.ffz-interactable--selected, .ffz-interactable--default.ffz-interactable--selected.ffz-interactable--hover-enabled:hover:active, .ffz-interactable--default.ffz-interactable--selected.ffz-interactable--hover-forced, .ffz-interactable--default.ffz-interactable--selected:active, .ffz-interactable--default.ffz-interactable--selected[data-focus-visible-added], .tw-root .ffz-interactable--default.ffz-interactable--selected.ffz-interactable--hover-enabled:hover {
  background-color: var(--ffz-channel-color-30);
}
/* hover on emote tabs */
.ffz-interactable--default.ffz-interactable--hover-forced, .ffz-interactable--default[data-focus-visible-added], .tw-root--hover .ffz-interactable--default.ffz-interactable--hover-enabled:hover {
  background-color: var(--ffz-channel-color-30);
}
/* hover on emotes, background-color */
.tw-root--theme-dark .emote-picker__emote-link:hover {
  background-color: var(--ffz-channel-color-30);
}













/* bttv -- user dropdown menu, on hover */
.user-menu-dropdown__main-menu .bttvSettingsDropDown:hover {
  background-color: var(--ffz-channel-color-30);
}
/* bttv -- chat settings menu, on hover */
.chat-settings__popover .bttv-chat-settings .settingButton:hover {
  background-color: var(--ffz-channel-color-30);
}

/* bttv -- mod view -- chat header panel settings menu, on hover */
.bttv-chat-settings .settingButton:hover {
  background-color: var(--ffz-channel-color-30);
}



/* ===== /addons/extensions */


}
